pmo/pkgs/Wadl/PMOapp.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PMOapp" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PMO app" />
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_1_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_2_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_3_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_4_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_5_def" />
      <string name="ManualTriggerInput_Startandwaitforanapproval_Details_6_def" />
      <object name="ManualTriggerInput">
        <property name="Startandwaitforanapproval_Details" type="string" />
        <property name="Startandwaitforanapproval_Details_1" type="string" />
        <property name="Startandwaitforanapproval_Details_2" type="string" />
        <property name="Startandwaitforanapproval_Details_3" type="string" />
        <property name="Startandwaitforanapproval_Details_4" type="string" />
        <property name="Startandwaitforanapproval_Details_5" type="string" />
        <property name="Startandwaitforanapproval_Details_6" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Startandwaitforanapproval_Details" path="/Startandwaitforanapproval_Details" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_1" path="/Startandwaitforanapproval_Details_1" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_2" path="/Startandwaitforanapproval_Details_2" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_3" path="/Startandwaitforanapproval_Details_3" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_4" path="/Startandwaitforanapproval_Details_4" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_5" path="/Startandwaitforanapproval_Details_5" type="xs:string" required="true" />
            <param style="plain" name="Startandwaitforanapproval_Details_6" path="/Startandwaitforanapproval_Details_6" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>